html
	head
		title Node.js CRUD Application with AJAX
		link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
		link(href='stylesheets/bootstrap-editable.css', rel='stylesheet')
		link(href='stylesheets/main.css', rel='stylesheet')
	body
		.container
			h3 Enter a user's info to enter into the database:
			input#user-name.form-control(type='text', name='name', placeholder='Enter Name')
			br
			input#user-email.form-control(type='text', name='email', placeholder='Enter Email')
			br
			input#user-age.form-control(type='text', name='age', placeholder='Enter Age')
			br
			p.info(style='border: 1px solid red; height: 20px; width: 250px;')
			input#user-submit.btn.btn-default(type='submit')
			br
			br
			table(class='table table-striped table-bordered')
				thead
					tr
						th Name
						th Email
						th Age
						th Delete Item?
				tbody
					each user, i in users
						tr
							input(type='hidden', value=user.pkid)
							td
								span.xedit(id="#{user.pkid}")=user.name
							td=user.email
							td=user.age
							td
								input.delete-item.btn.btn-danger(type='button', value='Delete Row')
			script(type='text/javascript', src='javascripts/jquery.min.js')
			script(type='text/javascript', src='javascripts/bootstrap.min.js')
			script(type='text/javascript', src='javascripts/bootstrap-editable.min.js')
			script(type='text/javascript', src='javascripts/users.js')