html
	head
		title CRUD Application with AJAX
		link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
		link(href='stylesheets/bootstrap-editable.css', rel='stylesheet')
	body
		.container
			h3 Enter a user's info to enter into the database:
			input#user-name.form-control(type='text', name='name', placeholder='Enter Name')
			br
			br
			input#user-email.form-control(type='text', name='email', placeholder='Enter Email')
			br
			br
			input#user-age.form-control(type='text', name='age', placeholder='Enter Age')
			br
			br
			input#user-submit.btn.btn-default(type='submit')
			p#output
			p#latest_output
			p.test-div(style='border: 1px solid red; height: 50px; width: 50px; background-color: yellow; display: none')
			table(class='table')
				thead
					tr
						th Name
						th Email
						th Age
				tbody
					each user, i in users
						tr
							input(type='hidden', value=user.pkid)
							td=user.name
							td=user.email
							td=user.age
							td
								input.delete-item.btn.btn-danger(type='button', value='Delete Row')
			script(type='text/javascript', src='javascripts/jquery.min.js')
			script(type='text/javascript', src='javascripts/users.js')
			script(type='text/javascript', src='javascripts/bootstrap.min.js')
			script(type='text/javascript', src='javascripts/bootstrap-editable.min.js')